.frase{
    background-color: aliceblue;
    width: 70%;
    height: 35vh;
    margin-left: 15%;
    margin-top: 15%;
    border-radius: 4px;
    border: 2px black;
    -webkit-box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 24px 0px rgba(0,0,0,0.75);

}
.frase p{
    font-size: 20px;
    text-align: center;
}
.frase h3{
    margin-left: 60%;
}
.frase button {
    margin-left: 70%;
    margin-top: 4%;
    border-radius: 100%;
    border: 0;
}
i{
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.34);
    font-size: 60px;
    border-radius: 100%;
}

